$color1: #15c5e4
.navb
    margin-left: 5cm
.hr1 
    color: $color1
    border-bottom-style: solid
    border-bottom-width: 5px
    margin-top: -5px
.centrage
    margin-left: auto
    margin-right: auto
